:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
    overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 3rem;
	color: var(--black);
}

button {
	background-color: var(--orange);
	border: none;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 2rem;
	font-size: 1.6rem;
	cursor: pointer;
	box-shadow: var(--box-shadow);
	transition: all .2s linear;
}

button:hover {
	background-color: var(--black);
	box-shadow: none;
	color: var(--orange);
	outline: none;
}
